readalongs
jiwer
pyannote.audio
torch
torchaudio
torchvision
torchcodec
datasets
safetensors
transformers
evaluate
soundfile
librosa
more_itertools
accelerate
git+https://github.com/sdrobert/pydrobert-pytorch.git
git+https://github.com/michaelong7/minineedle.git